{% extends "vacs/base.html" %}
{% load widget_tweaks %}
{% block content %}

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Gesture Validation System</h1>
        <p> Login using the Blue button if you are a participant </p>
        <p>
        <a href="{% url 'login' %}" >
        <button type="button" class="btn btn-lg btn-primary">
            Login Here</button></a>
        </p>
        <!--<p>-->
            <!--<button type="button" class="btn btn-md btn-warning">Admin Login</button>-->
        <!--</p>-->
      </div>

    </div> <!-- /container -->
{% endblock %}
