<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GestureClean System</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'vacs/styles/css/bootstrap.min.css' %}" />
    <!-- Bootstrap theme -->
    <link rel="stylesheet" type="text/css" href="{% static 'vacs/styles/css/bootstrap-theme.min.css' %}" />


    <!--My theme -->
    <link rel="stylesheet" type="text/css" href="{% static 'vacs/styles/css/theme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vacs/styles/css/image-picker.css' %}" />

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).on('click', '#submit_button', function (e) {
            console.log("ENTERED IN THE SUBMIT");
            var lexicons  = "";
            var selected_videos = $('.ui-selected');
            if (selected_videos.length == 0){
                alert("Please select at least one gesture");
                return false;
            }
            for (i = 0; i < selected_videos.length; i++) {
                lexicons += selected_videos[i].id + ".";
            }
            $('#id_selected_lexicons').val(lexicons);
            console.log(lexicons);
            $('#form_validation').submit();
            return false;
        });
    </script>
</head>
<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"><ected"/span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">GestureClean - ISAT Laboratory</a>
          {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right" style="position: relative; right: -200%;">
              <a class="navbar-brand pull-right" href="{% url 'logout' %}">Logout</a>
          </ul>
          {% endif %}ected"
        </div>
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

    <div class="row">
        <div class="col-md-1">
            <strong> Progress: </strong>
        </div>
        <div class="progress col-md-9">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%"><span class="sr-only">{{ progress }}% Complete</span></div>
        </div>
    </div>

    <div class="col-md-9">
        <h3 class ="text-center">Select the gestures you think correspond to:</h3>
        <h3 class="text-center"><strong>{{ vac.name }}:</strong> {{score.score}}</h2>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-{{ color }}">
                <div class="panel-heading">
                    <h3 class="panel-title">{{command.name}}</h3>
                </div>
                <div class="panel-body">
                <div id="selectable">
                {% for subject in range %}
                    {% with subject|stringformat:"s" as s %}
                        {% with "vacs/media/S"|add:s|add:"/"|add:command.code|add:".webm" as video_path %}
                        <div class="col-md-4" style="height: 210px;">
                            <div class="selectee_parent">
                                <video autoplay width="280" height="210" controls loop preload="auto">
                                    <source src="{% static video_path %}"
                                    type="video/mp4"> Your browser does not support the video player, use Chrome or Firefox.
                                </video>
                                <div id="{{s}}" class="selectee">
                                </div>
                            </div>

                        </div>
                        {% endwith %}
                    {% endwith %}
                {% endfor %}
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="donation-meter">
              <strong class="goal">{{vac.name}}</strong>
              <br> <br>
              <span class="glass" style="height:{{ height_temp }}px">
                  <strong class="total" style="bottom: {{ thermometer_value }}%">{{ score.score }}</strong>
                  <strong class="total line_thermometer" style="bottom: {{ thermometer_value }}%">______</strong>

                  <strong class="total text_guide" style="bottom:0%">LOWEST</strong>
                  <strong class="total line_guide" style="bottom:0%">________</strong>

                  <strong class="total text_guide" style="bottom: 100%">HIGHEST</strong>
                  <strong class="total line_guide" style="bottom:100%">________</strong>

                  <span class="amount" style="height: {{ thermometer_value }}%"></span>



              </span>
              <div class="bulb">
                  <span class="red-circle"></span>
                  <span class="filler">
                      <span></span>
                  </span>
              </div>
            </div>
        </div>
    </div>

     <form id="form_validation" method="post">{% csrf_token %}
        <div class="vac-hidden">
            {{ form.as_p }}
        </div>

        <div class="col-md-10">
            <button id="submit_button" class="btn btn-primary btn-block" type="button">Submit</button>
        </div>
    </form>

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors%}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    {% endif %}


    </div> <!-- /container -->

    {% if last_vac %}
        <script>
            $(".selectee").click(function() {
              $(".ui-selected").removeClass("ui-selected");
              $("video").removeClass("video-selected");
              $( this ).toggleClass( "ui-selected" );
              $(this).parent().find('video').toggleClass("video-selected")
            });
        </script>
    {% else %}
        <script>
            $(".selectee").click(function() {
              $( this ).toggleClass( "ui-selected" );
              $(this).parent().find('video').toggleClass("video-selected")
            });
        </script>
    {% endif %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!--<script>window.jQuery || document.write('<script src="{% static 'vacs/styles/js/sdfjquery.min.js' %}"><\/script>')</script>-->
    <script src="{% static 'vacs/styles/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="{% static 'vacs/styles/js/ie10-viewport-bug-workaround.js' %}"></script>-->
</body>
</html>
